
 /*
  *基本默认值
 */


 html {
 	font-size: 62.5%;      /*10px*/
 	color: #222;
 }

 ::selection {     /*选中文字时的样式*/
 	background-color: #b3d4fc;
 	text-shadow: none;
 }

 ul {
 	margin: 0;
 	padding: 0; 
 }

 li {
 	list-style: none;
 }

 /* ==========
  	工具样式
    ==========*/

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto; 
}


.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}


.clearfix:before,
.clearfix:after {
	content: '',
	display: table;
}

.clearfix:after {
	clear: both;
}

/*.clear:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}*/



/*.clearfix {   // 为了兼容IE6、7
	zoom: 1;
}*/

/***********
 *  页面样式
 ***********/

body {
	font-size: 1.2rem;
	line-height: 1.5;
	background-color: #f7f7f7;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover, a:active {
	color: #0ae;
	text-decoration: underline;
}


header {
	width: 100%;
}

header .top {
	line-height: 3rem;
	padding: 0 1.5rem;
	color: #fff;
	background-color: #555;
	border-bottom: 1px #ecc000 solid;
}

header .top .tel {
	float: left;
}

header .top ul {
	text-align: right;
}

header .top ul li {
	display: inline-block;
}

header .top ul li + li {   /*不包含列表的第一个元素*/
	border-left: 1px solid #999;
	margin-left: -3px;               /*解决空白字符引起的间隔*/
}

header .top ul li a {
	display: inline-block;
	padding: 0 1.5rem;
	color: #fff;
}


header .main {
	padding: 0;
}

header .main .brand {
	float: left;
	padding: 1rem 1.5rem;

}

header .main ul {
	text-align: right;
}

header .main ul li {
	display: inline-block;
	border-left: 1px solid #f0ede9; 
}

header .main ul li a {
	display: inline-block;
	padding: 0 3rem;
	line-height: 5.5rem;
	font-size: 1.6rem;
	font-weight: bold;
	color: #7c7a65;
	text-decoration: none;
}

header .main ul li a:hover,
header .main ul li a:active {
	color: #ffb300;
	background-color: #f8f6f1;
}

.container {
	width: 100%;
}


/*底部导航*/
footer {
	width: 100%;
	padding: 3rem 0 5rem;
	background-color: #ededed;
}

footer ul {
	text-align: center;
}


footer ul li {
	display: inline-block;
}


footer ul li .icon {
	display: inline-block;
	text-indent: -999rem;    /*去掉文字？*/
	margin-right:  1.5rem;
	background: url(https://i.alipayobjects.com/e/201307/jebmKcbrh.png) no-repeat;
	background-size: 466px 467px;
	overflow: hidden;
}

footer ul li .icon-pay {
	width: 38px;
	height: 27px;
	background-position: -369px -45px;
}

footer ul li .icon-pci {
	width: 78px;
	height: 27px;
	background-position: -110px -96px;
}

footer ul li .icon-visa {
	width: 36px;
	height: 27px;
	background-position: -426px -90px;
}

footer ul li .icon-vs {
	width: 63px;
	height: 27px;
	margin-right: 13px;
	background-position: -401px -186px;
}

footer ul li .icon-1 {
	width: 22px;
	height: 27px;
	background-position: -48px -48px;
}

footer ul li .icon-2 {
	width: 22px;
	height: 27px;
	background-position: -0px -320px;
}

footer ul li .icon-3 {
	width: 30px;
    height: 30px;
    margin-right: 0;
    background: url(https://os.alipayobjects.com/rmsportal/lybcjqloSPjMAFg.png) no-repeat;
    background-size: 30px;
}

footer p {
	text-align: center;
	color: #999;
}